.latent-display{
  width: 80rem;
  background-color: #00afb9;
  display:flex;
  align-items: center;
  justify-content: center;
}

.latent_image_wrapper {
  margin: 8rem;
  display: flex;
  flex-direction: row;
}

.latent_image {
  margin: .3rem;
  width: 6.5rem;
  image-rendering: pixelated;
}

.latent-display-parameter-settings-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
