.latent-display{
  width: 70rem;
  background-color: #00afb9;
  display:flex;
  align-items: center;
  justify-content: center;
}

.latent_image_wrapper {
  margin: 10rem;
  display: flex;
  flex-direction: row;
}

.latent_image {
  margin: .3rem;
  width: 5rem;
}
