# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/

src/data/
/clonegitcolab.txt
Obsidian/.obsidian/workspace.json
.ipynb_checkpoints/
model_gen.ckpt
/Obsidian/.obsidian/graph.json
/src/saved_models/
/data/AnoMNIST/anomnist_dataset.csv
/data/AnoMNIST/img_art_0_2.png
/data/AnoMNIST/img_art_0_17.png
/data/AnoMNIST/img_art_0_24.png
/data/AnoMNIST/img_art_0_34.png
/data/AnoMNIST/img_art_0_37.png
/data/AnoMNIST/img_art_0_41.png
/data/AnoMNIST/img_art_0_71.png
/data/AnoMNIST/img_art_0_98.png
/data/AnoMNIST/img_art_1_4.png
/data/AnoMNIST/img_art_1_22.png
/data/AnoMNIST/img_art_1_61.png
/data/AnoMNIST/img_art_1_62.png
/data/AnoMNIST/img_art_1_68.png
/data/AnoMNIST/img_art_1_78.png
/data/AnoMNIST/img_art_1_86.png
/data/AnoMNIST/img_art_1_87.png
/data/AnoMNIST/img_art_2_3.png
/data/AnoMNIST/img_art_2_7.png
/data/AnoMNIST/img_art_2_20.png
/data/AnoMNIST/img_art_2_30.png
/data/AnoMNIST/img_art_2_31.png
/data/AnoMNIST/img_art_2_42.png
/data/AnoMNIST/img_art_2_45.png
/data/AnoMNIST/img_art_2_72.png
/data/AnoMNIST/img_art_2_76.png
/data/AnoMNIST/img_art_3_1.png
/data/AnoMNIST/img_art_3_15.png
/data/AnoMNIST/img_art_3_25.png
/data/AnoMNIST/img_art_3_48.png
/data/AnoMNIST/img_art_3_56.png
/data/AnoMNIST/img_art_3_64.png
/data/AnoMNIST/img_art_3_73.png
/data/AnoMNIST/img_art_3_90.png
/data/AnoMNIST/img_art_3_94.png
/data/AnoMNIST/img_art_4_8.png
/data/AnoMNIST/img_art_4_9.png
/data/AnoMNIST/img_art_4_16.png
/data/AnoMNIST/img_art_4_44.png
/data/AnoMNIST/img_art_4_75.png
/data/AnoMNIST/img_art_4_81.png
/data/AnoMNIST/img_art_4_88.png
/data/AnoMNIST/img_art_5_19.png
/data/AnoMNIST/img_art_5_23.png
/data/AnoMNIST/img_art_5_26.png
/data/AnoMNIST/img_art_5_29.png
/data/AnoMNIST/img_art_5_33.png
/data/AnoMNIST/img_art_5_35.png
/data/AnoMNIST/img_art_5_39.png
/data/AnoMNIST/img_art_5_53.png
/data/AnoMNIST/img_art_5_55.png
/data/AnoMNIST/img_art_5_57.png
/data/AnoMNIST/img_art_5_67.png
/data/AnoMNIST/img_art_5_70.png
/data/AnoMNIST/img_art_5_83.png
/data/AnoMNIST/img_art_5_96.png
/data/AnoMNIST/img_art_6_12.png
/data/AnoMNIST/img_art_6_13.png
/data/AnoMNIST/img_art_6_32.png
/data/AnoMNIST/img_art_6_36.png
/data/AnoMNIST/img_art_6_46.png
/data/AnoMNIST/img_art_6_51.png
/data/AnoMNIST/img_art_6_60.png
/data/AnoMNIST/img_art_6_66.png
/data/AnoMNIST/img_art_6_77.png
/data/AnoMNIST/img_art_6_91.png
/data/AnoMNIST/img_art_6_95.png
/data/AnoMNIST/img_art_7_5.png
/data/AnoMNIST/img_art_7_27.png
/data/AnoMNIST/img_art_7_43.png
/data/AnoMNIST/img_art_7_58.png
/data/AnoMNIST/img_art_7_65.png
/data/AnoMNIST/img_art_7_74.png
/data/AnoMNIST/img_art_7_80.png
/data/AnoMNIST/img_art_7_89.png
/data/AnoMNIST/img_art_7_93.png
/data/AnoMNIST/img_art_8_0.png
/data/AnoMNIST/img_art_8_11.png
/data/AnoMNIST/img_art_8_18.png
/data/AnoMNIST/img_art_8_47.png
/data/AnoMNIST/img_art_8_50.png
/data/AnoMNIST/img_art_8_59.png
/data/AnoMNIST/img_art_8_63.png
/data/AnoMNIST/img_art_8_69.png
/data/AnoMNIST/img_art_8_82.png
/data/AnoMNIST/img_art_8_84.png
/data/AnoMNIST/img_art_8_92.png
/data/AnoMNIST/img_art_8_99.png
/data/AnoMNIST/img_art_9_6.png
/data/AnoMNIST/img_art_9_10.png
/data/AnoMNIST/img_art_9_14.png
/data/AnoMNIST/img_art_9_21.png
/data/AnoMNIST/img_art_9_28.png
/data/AnoMNIST/img_art_9_38.png
/data/AnoMNIST/img_art_9_40.png
/data/AnoMNIST/img_art_9_49.png
/data/AnoMNIST/img_art_9_52.png
/data/AnoMNIST/img_art_9_54.png
/data/AnoMNIST/img_art_9_79.png
/data/AnoMNIST/img_art_9_85.png
/data/AnoMNIST/img_art_9_97.png
/data/AnoMNIST/img_aug_0_17.png
/data/AnoMNIST/img_aug_0_18.png
/data/AnoMNIST/img_aug_0_19.png
/data/AnoMNIST/img_aug_0_24.png
/data/AnoMNIST/img_aug_0_33.png
/data/AnoMNIST/img_aug_0_48.png
/data/AnoMNIST/img_aug_0_51.png
/data/AnoMNIST/img_aug_0_55.png
/data/AnoMNIST/img_aug_0_58.png
/data/AnoMNIST/img_aug_0_63.png
/data/AnoMNIST/img_aug_0_88.png
/data/AnoMNIST/img_aug_0_96.png
/data/AnoMNIST/img_aug_1_0.png
/data/AnoMNIST/img_aug_1_6.png
/data/AnoMNIST/img_aug_1_8.png
/data/AnoMNIST/img_aug_1_25.png
/data/AnoMNIST/img_aug_1_32.png
/data/AnoMNIST/img_aug_1_34.png
/data/AnoMNIST/img_aug_1_54.png
/data/AnoMNIST/img_aug_1_65.png
/data/AnoMNIST/img_aug_1_70.png
/data/AnoMNIST/img_aug_1_74.png
/data/AnoMNIST/img_aug_1_93.png
/data/AnoMNIST/img_aug_2_2.png
/data/AnoMNIST/img_aug_2_5.png
/data/AnoMNIST/img_aug_2_39.png
/data/AnoMNIST/img_aug_2_49.png
/data/AnoMNIST/img_aug_2_57.png
/data/AnoMNIST/img_aug_2_72.png
/data/AnoMNIST/img_aug_2_76.png
/data/AnoMNIST/img_aug_2_82.png
/data/AnoMNIST/img_aug_2_97.png
/data/AnoMNIST/img_aug_3_1.png
/data/AnoMNIST/img_aug_3_16.png
/data/AnoMNIST/img_aug_3_27.png
/data/AnoMNIST/img_aug_3_28.png
/data/AnoMNIST/img_aug_3_50.png
/data/AnoMNIST/img_aug_3_59.png
/data/AnoMNIST/img_aug_3_64.png
/data/AnoMNIST/img_aug_3_79.png
/data/AnoMNIST/img_aug_4_12.png
/data/AnoMNIST/img_aug_4_20.png
/data/AnoMNIST/img_aug_4_23.png
/data/AnoMNIST/img_aug_4_30.png
/data/AnoMNIST/img_aug_4_35.png
/data/AnoMNIST/img_aug_4_42.png
/data/AnoMNIST/img_aug_4_43.png
/data/AnoMNIST/img_aug_4_44.png
/data/AnoMNIST/img_aug_4_46.png
/data/AnoMNIST/img_aug_4_52.png
/data/AnoMNIST/img_aug_4_56.png
/data/AnoMNIST/img_aug_4_62.png
/data/AnoMNIST/img_aug_4_69.png
/data/AnoMNIST/img_aug_4_75.png
/data/AnoMNIST/img_aug_4_77.png
/data/AnoMNIST/img_aug_4_89.png
/data/AnoMNIST/img_aug_5_3.png
/data/AnoMNIST/img_aug_5_66.png
/data/AnoMNIST/img_aug_5_83.png
/data/AnoMNIST/img_aug_6_36.png
/data/AnoMNIST/img_aug_6_53.png
/data/AnoMNIST/img_aug_6_67.png
/data/AnoMNIST/img_aug_6_71.png
/data/AnoMNIST/img_aug_6_73.png
/data/AnoMNIST/img_aug_6_86.png
/data/AnoMNIST/img_aug_6_98.png
/data/AnoMNIST/img_aug_6_99.png
/data/AnoMNIST/img_aug_7_11.png
/data/AnoMNIST/img_aug_7_13.png
/data/AnoMNIST/img_aug_7_38.png
/data/AnoMNIST/img_aug_7_40.png
/data/AnoMNIST/img_aug_7_41.png
/data/AnoMNIST/img_aug_7_78.png
/data/AnoMNIST/img_aug_8_7.png
/data/AnoMNIST/img_aug_8_9.png
/data/AnoMNIST/img_aug_8_10.png
/data/AnoMNIST/img_aug_8_14.png
/data/AnoMNIST/img_aug_8_26.png
/data/AnoMNIST/img_aug_8_29.png
/data/AnoMNIST/img_aug_8_37.png
/data/AnoMNIST/img_aug_8_60.png
/data/AnoMNIST/img_aug_8_80.png
/data/AnoMNIST/img_aug_8_84.png
/data/AnoMNIST/img_aug_8_87.png
/data/AnoMNIST/img_aug_8_95.png
/data/AnoMNIST/img_aug_9_4.png
/data/AnoMNIST/img_aug_9_15.png
/data/AnoMNIST/img_aug_9_21.png
/data/AnoMNIST/img_aug_9_22.png
/data/AnoMNIST/img_aug_9_31.png
/data/AnoMNIST/img_aug_9_45.png
/data/AnoMNIST/img_aug_9_47.png
/data/AnoMNIST/img_aug_9_61.png
/data/AnoMNIST/img_aug_9_68.png
/data/AnoMNIST/img_aug_9_81.png
/data/AnoMNIST/img_aug_9_85.png
/data/AnoMNIST/img_aug_9_90.png
/data/AnoMNIST/img_aug_9_91.png
/data/AnoMNIST/img_aug_9_92.png
/data/AnoMNIST/img_aug_9_94.png
/data/MNIST/raw/t10k-images-idx3-ubyte
/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/data/MNIST/raw/t10k-labels-idx1-ubyte
/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/data/MNIST/raw/train-images-idx3-ubyte
/data/MNIST/raw/train-images-idx3-ubyte.gz
/data/MNIST/raw/train-labels-idx1-ubyte
/data/MNIST/raw/train-labels-idx1-ubyte.gz
/data/
