<ng-container *ngIf="!sessionStarted">
  <configuration
    [datasets]="datasetSelectOptions"
    [(dataset)]="dataset"
    [(directionMatrix)]="directionMatrix"
    [(shiftRange)]="shiftRange"
    [(shiftCount)]="shiftCount"
    [shiftCountSelectOptions]="shiftCountSelectOptions"
    [shiftRangeSelectOptions]="shiftRangeSelectOptions"
    (generateDirectionSequence)="generateDirectionSequence()"
    (startHandler)="startHandler()">
  </configuration>
</ng-container>
<ng-container *ngIf="sessionStarted">
  <latent-display
    [shiftedImages$]="shiftedImages$"
    [dim]="dim"
    [direction]="direction"
    [maxdim]="maxDim"
    [shiftCount]="shiftCount"
    [shiftRange]="shiftRange"
    [shiftCountSelectOptions]="shiftCountSelectOptions"
    [shiftRangeSelectOptions]="shiftRangeSelectOptions"
    (updateImages)="updateImages()"
  ></latent-display>
</ng-container>
