<ng-container *ngIf="!sessionStarted">
  <configuration
    [datasets]="datasetSelectOptions"
    [(dataset)]="dataset"
    [(directionMatrix)]="directionMatrix"
    [(shiftRange)]="shiftRange"
    [(shiftCount)]="shiftCount"
    [shiftCountSelectOptions]="shiftCountSelectOptions"
    [shiftRangeSelectOptions]="shiftRangeSelectOptions"
    (generateDirectionSequence)="generateDirectionSequence()"
    (startHandler)="startHandler()"
    (reloadNoiseAndPreviewImage)="reloadNoiseAndPreviewImage()">
  </configuration>
  <div class="dataset_preview_image"
    (click)="reloadNoiseAndPreviewImage()"
  >
    <img *ngIf="datasetPreviewImage" class="latent_image" src="{{'data:image/png;base64,' + datasetPreviewImage}}">
  </div>
</ng-container>
<ng-container *ngIf="sessionStarted">
  <latent-display
    [shiftedImages$]="shiftedImages$"
    [dim]="dim"
    [direction]="direction"
    [maxdim]="maxDim"
    [shiftCount]="shiftCount"
    [shiftRange]="shiftRange"
    [shiftCountSelectOptions]="shiftCountSelectOptions"
    [shiftRangeSelectOptions]="shiftRangeSelectOptions"
    (updateImages)="updateImages()"
  ></latent-display>
</ng-container>
