.content {
  margin-top: 10em;
  margin-left: 0;
  color: black;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;

  .content-wrapper {
    width: 80%;
    min-height: 50rem;
    background-color: #00afb9;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}

