  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #0081a7;
    color: white;
    font-weight: 600;
  }

  .toolbar-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
