<div class="latent-display">
  <ng-container *ngIf="shiftedImages$ | async as shiftedImages else noImages">
    <div>
      <div *ngIf="dim < maxdim" class="session-label-counter">Labeled directions: {{dim+1}} ({{direction}}) /{{maxdim}}</div>
      <image-strip
        [direction]="direction"
        [nImages]="shiftCount"
        [images]="shiftedImages"
      ></image-strip>
      <latent-display-controls
        (yesClick)="yesClickHandler()"
        (noClick)="noClickHandler()">
      </latent-display-controls>
    </div>
  </ng-container>
  <ng-template #noImages>
      <p class="loading-wrapper">loading images...</p>
  </ng-template>
</div>
