<div class="latent-display">
  <ng-container *ngIf="shiftedImages$ | async as shiftedImages else noImages">
    <div *ngIf="dim < maxdim else sessionDone">
      <div *ngIf="dim < maxdim" class="session-label-counter">Labeled directions: {{dim+1}}/{{maxdim}}</div>
      <image-strip
        [images]="shiftedImages"
      ></image-strip>
      <latent-display-controls
        (yesClick)="yesClickHandler()"
        (noClick)="noClickHandler()">
      </latent-display-controls>
    </div>
    <ng-template #sessionDone>
      <div class="done-wrapper">
        <div>Session done. You successfully labeled all dimensions!</div>
        <button
          class="button yes"
          mat-fab
          color="accent"
          color="primary"
          (click)="restartHandler()"
        >
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #noImages>
      <p class="loading-wrapper">loading images...</p>
  </ng-template>
</div>
