.done-wrapper {
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin-top: 3rem;
  }

  .labeling_results_title_text {
    margin: 1rem;
    font-size: x-large;
  }

  .labeling_results_description_text {
    margin: 1rem;
  }
}

